
.text-center {
    text-align: center;
    margin-top: 14rem;
  }

  .form-container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-field {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 10px 0;
  }

  .submit-btn {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #3f51b5;
    color: white;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
  }

  .message-box {
    margin-top: 20px;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .success-message {
    background-color: #4caf50;
    color: white;
  }

  .error-message {
    background-color: #f44336;
    color: white;
  }

/*password validation  */
.passwordValidation {
  margin-top: 0.4rem;
  font-size: 1rem;
  color: #888;
}

.passwordValidation p {
  margin-bottom: 0.5rem;
}

.passwordValidation ul {
  list-style: none;
  padding: 0;
}

.passwordValidation li {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: left;
  margin-bottom: 0.3;
}

.valid {
  color: green;
  margin-right: 0.5rem;
}

.invalid {
  color: red;
  margin-right: 0.5rem;
}

.passwordFocused {
  border-color: #333;

}



@media only screen and (max-width:800px) and (min-width:310px){
    .form-container {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
      }

      .input-field {
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        width: 20rem;
        margin: 10px 0;
      }
      .submit-btn {
        padding: 8px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        background-color: #3f51b5;
        color: white;
        width: 20rem;
        margin-top: 20px;
        cursor: pointer;
      }



}
